{% extends '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig' %}

<ul class="pagination">
        <li class="{{ (page == 1) ? 'disabled' : '' }}">
            <a href="?page=1&{{queryString}}">
                <i class="fas fa-step-backward"></i>
            </a>
        </li>    
        <li class="{{ (page == 1) ? 'disabled' : '' }}">
            <a href="{{ (page > 1) ? '?page=' ~ (page - 1) : '' }}&{{queryString}}">
                <i class="fas fa-angle-left"></i>
            </a>
        </li>
        {% set pages = (total / limit)|round(0, 'ceil') %}
        {% for item in 1..pages %}
            <li class="{{ (page == item) ? 'active' : '' }}">
                <a href="?page={{ item }}&{{queryString}}">{{ item }}</a>
            </li>
        {% endfor %}
        <li class="{{ (page == pages) ? 'disabled' : '' }}">
            <a href="{{ (page < pages) ? '?page=' ~ (page + 1) : '' }}&{{queryString}}">
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
        <li class="{{ (page == pages) ? 'disabled' : '' }}">
            <a href="?page={{ pages }}&{{queryString}}">
                <i class="fas fa-step-forward"></i>
            </a>
        </li>

    </ul>
